body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{ margin:0; padding:0;}
em{ font-style:normal}
li{ list-style:none}
a{ text-decoration:none}
img{ border:none; vertical-align:top}
table{ border-collapse:collapse}
textarea{ resize:none; overflow:auto}


/*****************************t_top*******************************/
.wrap{ width:1000px; margin: 0 auto;}
.t_top{ height: 88px;margin-left: 200px;}
#t_top{background: #000; position: fixed;top:0; left: 0; width: 100%;}
.t_logo{ background:url(../images/logo.png) no-repeat center center; width: 271px; height: 88px; float: left; margin-right: 50px;}
.t_nav{ height: 88px; line-height: 88px;}
.t_nav li{ padding:0 60px; position:relative;display: inline-block;background:url(../images/nav_hover.png) no-repeat center 90px;z-index: 99999;}
.t_nav  a{ display:block;line-height:88px; font-size:16px; color:#fdfbf9; text-align:center; }
.t_nav li:hover,.t_nav .active{ background-position: center 65px;}
.t_user{ width: 180px; height:40px; background: #Fff; position: absolute;top:50%;right:46px; margin-top: -20px;margin-right:150px; border-radius: 30px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 5px 5px 10px 2px #909090;/*firefox*/
-webkit-box-shadow: 5px 5px 10px 2px #909090;/*safari或chrome*/
box-shadow:5px 5px 10px 2px #909090;/*opera或ie9*/}
.t_user span{width:50%; display: block;}
.t_user a{ height: 20px; line-height: 20px;padding: 10px 10px 10px 20px;display: block;color:#ccc;}
.t_user i{ margin-left: 5px;}
.t_user img{ width: 36px; height: 36px;border:2px solid green; border-radius:50%;position: absolute; top:0;right:20px;
}
#t_user:hover{ border-color:red;}

#t_list{ width:200px; position:relative;right:180px;top:93px; float: right; display:none;background-: #f5f8fa;z-index: 1000;

filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 5px 5px 10px 2px #909090;/*firefox*/
-webkit-box-shadow: 5px 5px 10px 2px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px 2px  #909090;/*opera或ie9*/ z-index: 9999;
}
#t_list:after,#t_list:before{ border: solid transparent;content:'';height:0;bottom:100%;position: absolute;width: 0;}
#t_list:before{border-width: 16px;border-bottom-color: #F01400;left:130px;}
/* #t_list:after{border-width: 18px;border-bottom-color: #fff;left:182px;} */
#t_list_top{background: url(../images/t_list.png);}
.t_list_top{ padding-left: 70px; height: 80px;}
#t_list_top img{ float: left; width:46px; height: 46px; border: 2px solid #fff; border-radius: 50%;margin:15px;}
.t_list_top span{ display: inline-block; padding-top: 15px;color: #fff;}
.t_list_top p{padding-top: 10px;color: #fff;}
#t_list ul{ text-indent: 15px;background-color: white;}
#t_list li a{cursor: pointer; padding:10px 0; display: block; color: #000;}
.new_color{ background: #e5ebee;}
.across{background:#EDF6FA;}

/****************************t_left*******************************/

#dao{background-color: #edf6fa;}
#t_leftul{ background: url(../images/left_bg.png) repeat-y right; width: 202px; text-indent: 20px;}
#t_leftul li{width: 200px; height: 40px; line-height: 40px;}
#t_leftul li a{display: block; width: 200px; height: 40px; line-height: 40px; color:#000;text-indent: 30px;font-size: 18px;}


/*****************************index.html*****************************/
.t_course_conrt .button{
	display:block;
	float: right;
	width: 140px;
    height: 50px;
    outline: none;
    line-height: 50px;
    color: #2fb36a;
    font-family: Arial;
    font-size: 18px; 
    font-weight: bold;
    border:2px solid rgba(47,179,106,0.3); 
    padding-left:20px;
    margin-right:50px;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	background: url(../images/allow.png) no-repeat 80px center;
	transition:0.5s ease;
	-moz-transition:0.5s ease;
	-webkit-transition:0.5s ease;
	-o-transition:0.5s ease;

	
}

.t_course_conrt .button:hover{border: 2px solid rgba(47,179,106,0.8);background-position: 100px center;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/* ie */
	-moz-box-shadow: 5px 5px 10px 2px #909090;/* firefox */
	-webkit-box-shadow: 5px 5px 10px 2px #909090;/* safari或chrome */
	box-shadow:10px 10px 50px 25px white inset;/* opera或ie9  */
}
.t_course_conrt .button .line{ position: absolute; display: block; background: none;
	transition:0.4s ease;
	-moz-transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-o-transition:0.4s ease;

}

/************************t_onlineLessons**************************/

.tplace{height:40px; background:#edf6fa; border-bottom: 1px solid #d7e4ea; font-size: 14px; position: fixed;top:88px; left: 0; width: 100%;}
.tplace span{line-height:40px; font-weight:bold; margin-left:12px;}
.tplaceul {display: inline-block; }
.tplaceul li{display: inline-block; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right; }
.tplaceul li a{color:#000;}
.tplaceul li:hover a,.placeul .active{color:#0984CA;}
.tplaceul li:last-child{background:none;}

.t_course_box{  padding-top: 60px; width: 874px;margin-: 0 auto;}
.t_course_box ul li{ border:1px solid #cbcbcb; margin-bottom: 20px;}
.t_course_con{ width: 832px; height: 145px; padding: 20px;}
.t_course_coni,.t_course_coni img{width: 200px; height: 145px;float: left;overflow: hidden;}
.t_course_conr{ width:602px;height: 145px;float: left; padding-left: 30px;}
.t_course_conrt{ margin-top: 10px; height: 50px;}
.t_course_conr h3,.t_course_conr b,.t_course_conr i,.t_course_conr span{font-style: normal;font-weight: normal;padding: 0 10px;}
.t_course_conrt h3{ padding: 10px 0 0 0; height: 28px; line-height: 28px; display: inline-block;}
.t_course_conrb{ margin-top: 50px; height: 38px;line-height: 38px;}
.t_course_conrbr{ float: right; margin-right: 30px;}
.t_course_conrb .l{ background:url(../images/line.png) no-repeat right; }
.t_course_conr span:first-child{ padding-left: 0;}
#course_sel{ width: 200px; height: 28px; margin-bottom: 10px;}
.across_border{filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 5px 5px 10px 2px #909090;/*firefox*/
-webkit-box-shadow: 5px 5px 10px 2px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px 2px  #909090;/*opera或ie9*/
	transition:0.2s ease;
	-moz-transition:0.2s ease;
	-webkit-transition:0.2s ease;
	-o-transition:0.2s ease;
}

/********************************************prepareList*********************************/
.prepareListBox{  padding-top: 60px; width: 874px;margin-left: 20px; font-size: 0; }
.chapter{ padding-top: 5px; border-bottom: 1px solid #b6ccd9;cursor: pointer;}

.chapter h3{ height: 40px; line-height: 40px;font-weight: normal;font-style: normal; padding-top: 5px; margin-bottom: 5px; position: relative;}
.chapter i,.chapter span,.chapter b{ display: inline-block;font-weight: normal;height: 40px;line-height: 40px; }
.chapter i{width: 20px;height: 20px;vertical-align: middle;margin-right: 10px; border-radius: 50%;}
.chapter strong{ width: 390px; height: 40px;line-height: 40px; padding-left: 10px;display: inline-block;font-size: 16px;overflow: hidden;font-family:"Microsoft YaHei";}
.chapterR{ float: right; font-size: 16px;}
.chapterR span{ margin-right: 10px;}
.chapterR b{padding:0 10px;}
.section{ width:874px;margin-: 10px; display: none;}
.chapterImg{ background: url(../images/z.png) no-repeat ; width: 20px; height: 20px; }
.sectionImg{ background: url(../images/z1.png) no-repeat ; width: 20px; height: 20px; }
.section li{  height: 40px; line-height: 40px; margin-bottom: 5px; padding: 5px 0;}
.section li strong{ font-weight: normal; overflow: hidden; height: 40px; text-indent: 20px; }
.sectionR { float: right; height-: 40px;}
.sectionR span{ margin-right: 10px;padding:6px; background:#9999FF; text-align: center;font-size: 12px; border-radius: 5px; height: 24px;line-height: 24px; vertical-align: middle;}
.acrossH3{ background: #dee5eb;}
/* #mask{ background: #000; filter:alpha(opacity:75);opacity: 0.75;position: absolute;top:0; left:0;width: 100%; height: 1000px;z-index:1000;}
#content{ position: fixed;top:30%;left:30%;z-index:10001;}
.playTitle{ width: 500px; height: 50px; background: yellow;}
.content{ width: 500px; height:500px; background: red;position: relative; padding:20px;}
#close{ position:absolute;background: url(../images/close.png) no-repeat right;top:10px; right:10px; width: 30px; height: 30px;cursor: pointer;} */

.layerThickness{ width: 380px; height: auto;position: absolute;z-index: 1002;top:100px;
left:100px;border:1px solid #d5d5d5;background: #fff; display: none;}
.playCon{ padding: 15px 20px;background: red;}
.playTitle{ height: 48px; line-height: 48px; text-align: center;font-size: 16px;color:#535353;
background: #f5f5f5;border-bottom: 1px solid #efefef;cursor:move;}
.close{width: 16px; height: 16px; display: block;position: absolute;top:12px;right: 20px;background: url(../images/close_def.png);}
.close:hover{background: url(../images/close_hov.png);}
.mask{ width: 100%; height: 100%; position: absolute;top:0;left:0;background: #000; filter:alpha(opacity:75);opacity: 0.75;z-index: 1000;display: none;}